$label-primary: #3F3F3F;
$label-secondary: #7A7A7A;
$label-dark: #49485E;

$background-white: #FFFEFB;
$background-gray: #E5E5E5;
$background-tertiary: #FAFAFA;
$gray-500: #B4B4B4;

$main-green: #7BAE73;
$dark-green: #87A96C;
$light-green: #A0D17A;

$error: #FF8484;


@mixin shadow {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);
}

